<%- include('header') %>

<form method="GET" action="/cotacao">
    <input name="cotacao" type="number" placeholder="Cotação dólar">
    <input name="quantidade" type="number" placeholder="Quantidade de dólares">
    <button>Converter</button>
</form>

<%- include('footer') %>